.smart-filters{
    max-width: 300px;
    position: relative;
    margin: 0 0 30px 0;
}

.smart-input{
    max-height: 35px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 300px;
    outline: none;
    font-family: 'Nanum Gothic', sans-serif;
    color: gray;
    background-color: transparent;
    border-top: 0 solid;
    border-right: 0 solid;
    border-left: 0 solid;
    border-bottom: 0 solid;
    margin-bottom: 1rem;
}

.smart-filters i{
    position: absolute;
    left: 85px;
    bottom: 2rem;
    color: gray;
}

.line{
    background-color: gray;
    height: 1px;
}